body {
    --app-bg: rgba(0,0,0,0.4);
}

app {
    border-radius: 10px;
    position: absolute;
    min-width: 400px;
    min-height: 300px;
    background-color: var(--app-bg);
    backdrop-filter: blur(100px);

    /* background-color: #111; */

    box-shadow: rgba(0,0,0,0.3) 0px 0px 15px 7px ;

    color: #fff;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 27px calc(100% - 27px);

    transition-property: opacity, background;
    transition-duration:  .4s;
} 
app > .header {
    border-radius: 10px 10px 0 0;
    padding: 5px 10px;

    cursor: move;
    user-select: none;

    font-size: 17px;
    font-weight: bold;

    display: flex;
    justify-content: space-between;

    transition: background .3s;
} 
app > .header:hover {
    background-color: rgba(0,0,0,0.3);

}

app > .header > .btns {
    display: flex;
    flex-direction: row-reverse;
}


app > .header > .btns > span {
    cursor: pointer;
    margin-left: 10px;
    color: #ddd;
}
app > .header > .btns > span:hover {
    color: #fff;
}

app > .content {
    /* display: flex;
    flex-direction: column; */
    overflow-y: auto;
    /* border: solid 1px red; */
}





/* TERMINAL APP */
/* .app_terminal {
    min-width: 500px;
    min-height: 400px;
}


.app_terminal > .content > pre {
    font-family: monospace;
    padding: 0px 10px 5px;
    margin: 0 ;

    max-height: 342px;
    max-width: 500px;
    overflow-y: auto;
    text-wrap: wrap;
    word-wrap: break-word;
}

.app_terminal > .content > input {
    background: rgba(0,0,0,0.3);
    border: 0;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-family: monospace;
    padding: 5px 10px;
}



.app_note {
    min-width: 100px;
    min-height: 100px;
}

.app_note > .content > textarea {
    height: 100%;
    font-size: 15px;
    background: rgba(0,0,0,0.0);
    border: 0;
    border-radius: 0 0 10px 10px;
    color: #fff;
    padding: 5px 10px;
    min-width: 100px;
    min-height: 100px;
    outline: rgba(0,0,0,0.0);
    overflow-x: hidden;
}



.app_alert {
    min-width: 200px;
    min-height: 10px;
    z-index: 9999999999;
}
.app_alert > .content {
    padding: 5px 10px 10px;
    justify-content: start;
    align-items: center;
} .app_alert > .content > .btnlist {
    margin-top: 5px;
    display: flex;
} */


